<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Suggested Place</th>
    </tr>
  </thead>
  <tbody>
    <% @employee.each_with_index do |employee,index| %>
    <tr>
      <th scope="row"><%=index+1%></th>
      <td><%= employee.name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.place.proposed_place if employee.place %></td>
    </tr>
    <%end%>
  </tbody>
<br>
<%= link_to 'New Employee Suggestion', place_path %>
